/* FOOTER STYLES */
#footer {
  display: flex;
  flex-direction: row;
  height: 250px;
  padding: 1.5% 0 0 12%;
  background-color: var(--dark-background);
  width: 100vw;
  line-height: 1.5;
}

#copyright {
  background-color: var(--dark-background);
  width: 100vw;
  height: 50px;
  text-align: center;
  color: var(--white-text);
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0 32px;
  flex-grow: 1;
  max-width: 150px;
}

.footer-column__header {
  font-size: 14pt;
  color: var(--white-text);
  font-weight: bold;
}

.footer-column__link {
  font-size: 12pt;
  color: var(--off-white-text);
}