/* GLOBAL STYLES */
:root {
  --primary-color: #44CB92;
  --secondary-color: #93E8E8;
  --dark-text: #525252;
  --dark-background: #272727;
  --light-background: #FFF;
  --white-text: #FFF;
  --off-white-text: #EAEAEA;
  --standard-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level-zero: -1000;
  --level-one: -5;
  --level-two: -4;
  --level-three: -3;
  --level-four: -2;
  --level-five: -1;
  --level-six: 0;
  --level-seven: 1;
}

* {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

 a {
  cursor: pointer;
  text-decoration: none;
}

span, h1, h2, h3, h4, p, div {
  color: var(--dark-text);
}

html, body {
  margin: 0;
  padding: 0;
}
