/* MAIN STYLES */

/* ================ */
/* HEADER BAR */
/* ================ */
#header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: none;
  z-index: 11;
  color: #FFF;
}

#title {
  font-size: 2rem;
  padding: 0 64px;
  flex-grow: 4;
  opacity: .66;
}

#pageLinks {
  flex-grow: 4;
  width: 50%;
  padding: 0 64px;
  text-align: right;
  font-size: 14pt;
}

.landingPageLink {
  text-align: center;
  color: white;
  padding: 0 12px;
  font-weight: 400;
  text-decoration: none;
}

/* ================ */
/* LAYOUT STRUCTURE CLASSES */
/* ================ */
.lefthand-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 64px;
  max-height: 100vh;
}

.righthand-side {
  display: flex;
  width: 50%;
  height: 100vh;
  margin-right: 64px;
  max-height: 100vh;
}

.h-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* ================ */
/* WRAPPERS */
/* ================ */
#splash-content-wrapper {
  display: flex;
  flex-direction: row;
}

#about-content-wrapper {
  display: flex;
  flex-direction: row;
}

/* ================ */
/* IMAGES AND SPLASH CONTENT */
/* ================ */
#splash-svg {
  position: absolute;
  right: -45vw;
  top: -150px;
  z-index: -2;
}

#splash-text {
  font-size: 5rem;
  font-weight: 700;
}

#walking-path {
  position: absolute;
  left: 10%;
  top: 37%;
  z-index: -2;
}

#splash-screenshot {
  width: 375px;
  height: 812px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* ================ */
/* IMAGES */
/* ================ */
#map-bg-1 {
  width: 90rem;
  opacity: .15;
  position: absolute;
  top: 10%;
  left: -50px;
  z-index: -10;
}

#map-bg-2 {
  width: 90rem;
  opacity: .15;
  position: absolute;
  top: 150%;
  left: -50px;
  width: 50%;
  transform: rotate(-148deg);
  z-index: -10;
}

/* ================ */
/* TEXT */
/* ================ */
#about-section__heading {
  font-size: 5rem;
  font-weight: 700;
}

#about-section__text {
  font-size: 1.2rem;
}
