/* MAIN STYLES */

/* ================ */
/* HEADER BAR */
/* ================ */
#header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background: none;
  z-index: 11;
  padding: 8px 64px;
  color: #FFF;
}

#header-logo {
  height: 100%;
  margin-right: 16px;
}

#website-title {
  flex-grow: 5;
  font-size: 2rem;
  opacity: .66;
}

#page-links-wrapper {
  flex-grow: 5;
  width: 50%;
  text-align: right;
  font-size: 14pt;
}

.page-link {
  text-align: center;
  color: var(--white-text);
  padding: 0 12px;
  font-weight: 400;
  text-decoration: none;
}

/* ================ */
/* LAYOUT STRUCTURE CLASSES */
/* ================ */
.lefthand-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 64px;
  max-height: 100vh;
}

.righthand-side {
  display: flex;
  width: 50%;
  max-height: 100vh;
  overflow-y: hidden;
}

.h-center {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  justify-content: center;
  padding: 16px 4px;
}

.v-center {
  height: 100%;
  align-items: center;
}

/* ================ */
/* WRAPPERS */
/* ================ */
#splash-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 85vh;
}

#about-content-wrapper {
  display: flex;
  flex-direction: row;
  height: 90vh; 
  margin-bottom: 200px;
}

/* ================ */
/* IMAGES AND SPLASH CONTENT */
/* ================ */
#splash-svg {
  position: absolute;
  width: 52%;
  right: 0;
  top: -200px;
  z-index: -3;
}

#splash-text {
  font-size: 5rem;
  font-weight: 700;
}

#splash-video {
  width: 80%;
  height: 50%;
}

#walking-path {
  position: absolute;
  left: 10%;
  top: 37%;
  z-index: -3;
}

.popup-svg {
  z-index: var(--level-two);
}

#location-popup-1 {
  position: absolute;
  left: 22%;
  top: 25%;
}

#location-popup-2 {
  position: absolute;
  left: 30%;
  top: 43%;
}

#location-popup-3 {
  position: absolute;
  left: 22%;
  top: 55%;
}

#location-popup-4 {
  position: absolute;
  left: 8%;
  top: 67%;
}

#location-popup-5 {
  position: absolute;
  left: 30%;
  top: 150%;
}

#location-popup-6 {
  position: absolute;
  left: 13%;
  top: 163%;
}

.location-img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  overflow-y: hidden;
}

#splash-screenshot {
  width: 375px;
  height: 812px;
  margin: 16px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: var(--standard-shadow);
}

/* ================ */
/* IMAGES */
/* ================ */
#map-bg-1,
#map-bg-2 {
  position: absolute;
  opacity: .1;
}

#map-bg-1 {
  width: 80%;
  top: 18%;
  left: -10%;
  z-index: -10;
}

#map-bg-2 {
  width: 50%;
  top: 150%;
  left: -50px;
  width: 50%;
  transform: rotate(-148deg);
  z-index: -10;
}

/* ================ */
/* TEXT */
/* ================ */
#about-section__heading {
  font-size: 4rem;
  font-weight: 700;
}

#about-section__text {
  font-size: 1.2rem;
  line-height: 1.8;
}
