/* MEDIA QUERIES FOR MOBILE */
/* Portrait */
@media only screen and (max-width: 600px)
and (orientation: portrait) {
  #splash-content-wrapper,
  #about-content-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: auto;
    margin: 16px 0;
    padding: 0 16px;
  }

  #header-bar {
    padding: 8px 32px;
  }

  #splash-screenshot {
    margin: 0;
  }

  #footer {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 8px 16px;
    background-color: var(--dark-background);
    width: 100vw;
    line-height: 1.5;
  }

  .footer-column {
    margin: 0;
  }

  .lefthand-side, 
  .righthand-side {
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: none;
    height: auto;
  }

  #splash-svg {
    width: 90%;
    top: -300px;
  }

  #splash-video {
    width: 90%;
    height: auto;
  }

  /* #splash-svg, */
  #walking-path,
  #map-bg-1, #map-bg-2,
  #location-popup-1,
  #location-popup-2,
  #location-popup-3,
  #location-popup-4,
  #location-popup-5,
  #location-popup-6 {
    display: none;
  }
}